@font-face {
  font-family: 'Bangers';
  font-weight: 400;
  src: local('Bangers'), url('https://fonts.googleapis.com/css?family=Bangers');
}

@font-face {
  font-family: 'Permanent Marker';
  font-weight: 400;
  src: local('Permanent Marker'),
    url('https://fonts.googleapis.com/css?family=Permanent+Marker');
}

@font-face {
  font-family: 'Bahiana';
  font-weight: 400;
  src: local('Bahiana'), url('https://fonts.googleapis.com/css?family=Bahiana');
}

* {
  font-family: 'Bahiana';
  color: #ffffff;
  background-color: rgb(13, 0, 55);
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 300;
}

h1 {
  font-family: 'Permanent Marker';
  font-weight: 300;
  font-size: 8rem;
  margin: 5rem 0;
  color: rgb(190, 0, 35);
}

h2 {
  margin-left: 2rem;
}

audio {
  margin: 10% auto 0 auto;
  width: 80%;
}
.topWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 0 15% 0 15%;
  margin-bottom: 3rem;
}

.subTitle {
  margin: 0;
}

.songTitle {
  font-size: 1.7rem;
  font-weight: 300;
}

.songTitle:hover {
  color: rgb(20, 199, 226);
}

.userName {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
}

.break {
  width: 80%;
}

.searchBar {
  border: none;
  background: none;
  font-size: 1.5rem;
  margin: 2% 0 2% 0;
}

.searchBar:focus {
  outline: none;
}

.hidden {
  display: none;
}

.searchWrapper {
  width: 75%;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin: 2% auto 2% auto;
}

.searchWrapper input {
  flex: 4;
  margin-right: 2%;
  height: 2.5rem;
}

.searchWrapper .searchBtn {
  flex: 1;
  border-radius: 0px;
  border: .1rem none rgb(50, 50, 50);
  background: none;
  margin-top: 1.8%;
}

.searchBtn {
  font-size: 1.5rem;
  transition: background .5s ease;
}

.searchBtn:focus {
  outline: none;
}

.searchBtn:hover {
  color: rgb(190, 0, 35);
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 5% 1% 10% 1%;
}

.resultsTitle {
  margin-top: 7rem;
  margin-left: 7rem;
  margin-bottom: 3rem;
}

.trackWrapper {
  width: 22%;
  margin: 0 1.5% 5% 1.5%;
}

.userImg {
  width: 100%;
  border-radius: 15rem;
}

.searchResultsSection {
  margin: 0 auto;
}

.footer {
  text-align: center;
}

.footer:hover {
  color: #f0f8ff;
}
#artistPlaying {
  font-size: 1.5rem;
  color: rgb(65, 217, 222);
}

#artistPlaying:hover {
  color: rgb(95, 247, 252);
}

#songPlayingNow {
  font-size: 1.5rem;
  color: rgb(253, 0, 109);
}

#songPlayingNow:hover {
  color: rgb(253, 0, 168);
}

#searchArtist::-webkit-input-placeholder {
  color: rgb(253, 0, 168);
}

#searchArtist:focus {
  color: rgb(0, 179, 206);
}

#insta {
  color: rgb(240, 248, 255);
  text-transform: none;
  text-decoration: none;
}

#insta:hover {
  color: rgb(253, 0, 109);
}

@media (max-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  .trackWrapper {
    width: 43%;
  }
  .searchResults {
    margin: auto auto;
  }
  .searchResultsSection {
    width: 95%;
    margin-left: .5%;
  }
}

@media (max-width: 550px) {
  html {
    min-width: 280px;
  }
  h1 {
    font-size: 3.5rem;
    color: rgb(204, 0, 35);
    margin-bottom: 0;
  }
  .trackWrapper {
    width: 75%;
  }

  .searchWrapper {
    flex-direction: column;
  }

  .searchBar {
    text-align: center;
  }

  .searchBar::-webkit-input-placeholder {
    text-align: center;
  }
  .resultsTitle {
    margin-left: 12%;
  }
}
